@font-face {
    font-family: 'Atari Classic Chunky';
    src: url(./assets/atari_class_chunky.ttf);
}

@font-face {
    font-family: 'Andale Mono';
    src: url(./assets/andale_mono.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: 'Andale Mono';
    text-align: center;
    padding: 70px 0;
}


header {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #E06800;
    font-family: 'Atari Classic Chunky';
    font-size: 64px;
}

h4 {
    text-align: center;
}

li {
    list-style: none;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    margin-bottom: 18px;
}

a {
    color: #9C9CB2;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: calc(17 * 20px);
}

.board > span {
    /* display: inline-block; */
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
}

.board > span > p {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
}

.wall {
    background-color: black;
}

.barrier {
    background-color: gray;
}

.player1 {
    background-color: orange;
}

.player2 {
    background-color: orange;
}

.trap {
    background-color: gold;
}

.armor {
    background-color: purple;
}

.speed {
    background-color: green;
}

.bomb {
    background-color: red;
}

#loading {
    width: 40vw;
    height: auto;
    margin-bottom: 2000px;
}